* {
    box-sizing: border-box;
    font-family: -apple-system, 'Noto Sans SC', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.select {
    margin: 16px;
}

@media (min-width: 768px) {
    .select {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .select {
        width: 40%;
    }
}

.select > .title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.select > .tags {
    margin-top: 8px;
}

.tags > span {
    color: white;
    font-size: 10px;
    font-weight: bold;
    background: #666666;
    padding: 4px 6px;
}

.tags > span:not(:last-child) {
    margin-right: 6px;
}

.content {
    font-size: 16px;
}

.content > p {
    color: #111111;
    margin-bottom: 1em;
    font-size: 1rem;
}
